#########
# about #
#########

# version = 0.1.2
# author = "Marcel Schilling"
# credits = ["Nikolaos Karaiskos","Mireya Plass Pórtulas","Marcel Schilling","Nikolaus Rajewsky"]
# status = "beta"
# licence = "GPL"
# email = "marcel.schilling@mdc-berlin.de"


#########
# files #
#########

# Don't track python byte code
*.pyc

# Is generated on the fly now
/test_data/Homo_sapiens.GRCh38.84_chr9.gtf.gz

###############
# directories #
###############

# untrack test output directory
/test_data/output/
